<div class="flex min-h-screen">
  <div class="w-16 bg-gray-800 text-white">
    <button mat-button routerLink="/mining" class="menu-button">
      <div class="flex flex-col">
        <i class="menu-button__icon fas fa-gem"></i>
        <div class="menu-button__label">Mining</div>
      </div>
    </button>
    <button mat-button disabled routerLink="/production" class="menu-button">
      <div class="flex flex-col">
        <i class="menu-button__icon fas fa-industry"></i>
        <div class="menu-button__label">Production</div>
      </div>
    </button>
    <button mat-button routerLink="/abyss" class="menu-button">
      <div class="flex flex-col">
        <i class="menu-button__icon fas fa-egg"></i>
        <div class="menu-button__label">Abyss</div>
      </div>
    </button>
    <button mat-button routerLink="/trade" class="menu-button">
      <div class="flex flex-col">
        <i class="menu-button__icon fas fa-dollar"></i>
        <div class="menu-button__label">Trade</div>
      </div>
    </button>
  </div>
  <div class="flex-1 bg-gray-900 text-white">
    <router-outlet></router-outlet>
  </div>
</div>

